/* RESET CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Helvetica , Arial, sans-serif;
}
/* ROW COL */
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.col{
    float: left;
    padding:8px;
}
.col-third{
    width: calc(100%/3);
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}

.place-item{
    float: left;
    padding:8px;
    width: calc(100%/3);
    
}
/*  1.Vị trí
    2.Kích thước (width , height)
    3.Màu sắc
    4.Kiểu dáng(Kiểu chữ , hình tròn , vuông.....) */
#main {
    /* position: relative; */
    
}
#header {
    height: 46px;
    width : 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 1;
}

#nav{
    display: inline-block;
}
#nav, .subnav {
    list-style-type: none;
}

#nav li {
    /* display default of li is list-item */
    display: inline-block;
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform:uppercase ;
}
#nav li a {
    line-height: 46px;
    text-decoration: none;
    padding: 0 24px;
    display: block; 
    /* display : block : ăn hết chiều ngang của thẻ chứa nó */
    /* do thẻ a mặc định display : inline -> không xét được chiều rộng , cao  nó không ăn theo kích thước  */
    /* do thế mình dùng inline-block để thẻ a ăn theo line-height */
}
#nav > li:hover > a{
    /* pseudo element vào thẻ li vì theo kinh nghiệm nếu trường hợp hover vào more và select các li con của more
    thì nó sẽ mất cái effect khi hover (trong trường hợp pseudo element vào thẻ a) => nên hover vào thẻ li */
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    top: 100%;
    left: 0;
    min-width: 160px;
    position: absolute ;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav li{
    width: 100%;
}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav li:hover{
    color: #000;
    background-color: #ccc;
}
#nav .subnav a {
    color : #000;
    line-height: 30.5px;
    padding: 0 12px;
}

#nav .nav-arrow-down{
    font-size: 12px;
}
#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    padding: 0 21px;
}
#header .mobile-menu-btn:hover{
    background-color: #ccc;
    
}
#header .mobile-menu-btn:hover .ti-menu{
    color: #000;
}
#header .search-btn:hover{
    cursor: pointer;
    background-color: #f44336;
}
#header .ti-menu,
#header .search-icon {
    font-size: 20px;
    color:#fff;
    line-height: 46px;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url(/assets//img/chicago.jpg) center top / cover;
    background-repeat: no-repeat;
    position: relative;
}

#slider .text-content{
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 47px;
}
#slider .text-content h2{
    font-size: 24px;
    font-weight: 500;
}
#slider .text-description{
    margin-top: 25px;
    font-size: 15px;
    text-shadow: 0 0 1px #000;
}
/* #content{
    width: 800px;
} */
#content .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding:64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
    
}
#content .section-heading{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: center;
    margin: 10px;
}
#content .section-sub-heading{
    text-align: center;
    font-size: 15px;
    margin: 15px;
    opacity: 0.6;
    font-style: italic;
}
#content .about-text{
    text-align: justify;
    font-size: 15px;
    margin-top: 25px;
    line-height: 1.4;
}
#content .member-list{
    margin-top: 48px;
    text-align: center;
}
#content .member-name{
    font-size: 15px;
    margin: 15px 0;
}
#content .member-img{
    width: 154px;
    border-radius: 4px;
}
#content .member-list .member-item{
    float: left;
    width: calc(100% / 3);
    
}
.clear{
    clear: both;
}

.tour-section{
    background-color: #000;
}

.tour-section .tickets-list{
    margin-top: 35px;
    background-color: #fff;
}
.tour-section .content-section .section-heading,
.tour-section .content-section .section-sub-heading{
    color: #fff;
}
.tickets-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style: none;
}
.tickets-list .sold-out{
    padding: 3px 4px;
    margin-left: 16px;
    color: #fff;
    background-color: #f44336;
}

.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-right: 16px;
    margin-top: -2px;
    
}
.place-list{
    margin-top: 32px;
    margin-bottom: 64px;
}

.place-item .place-img{
    width: 100%;
    display: block;
}
.place-item .place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    padding: 0 16px;
}
.place-list .place-heading{
    padding: 15px 0;
    font-size: 15px;
}
.place-list .place-date{
    padding-bottom: 15px;
    font-size: 15px;
}
.place-list .place-dec{
    padding-bottom: 15px;
}
.place-list .place-buy-btn{
    background-color: #000;
    color: #fff;
    padding: 11px 16px;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 16px;
    cursor: pointer;
    border: none;
}
.place-list .place-buy-btn:hover{
    background-color: #ccc;
    color: #000;
}

.contact-content {
    padding-top: 48px;
    
}
.contact-info{
    font-size: 18px;
    padding: 18px 0;
}
.contact-info a{
    opacity: 0.6;
}
.contact-info a:hover{
    opacity: 1;
}
.contact-info p{
    margin-bottom: 10px;
}
.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}
.form-control{
    padding: 11px;
    border: solid 1px #ddd;
    width: 100%;
}
.form-send{
    margin-top: 16px;
    padding: 10px 16px;
    background-color: #000;
    color: #fff;
    border: none;
    float: right;
    cursor: pointer;
}
.form-send:hover{
    background-color: #ccc;
    color: #000;
    
}
.map-section img{
    width: 100%;
}
/* begin modal */
.modal{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    display: none;
    animation: ModalFaceIn 0.6s;
}
.modal.open{
    display: flex;
}
@keyframes ModalFaceIn{
    from{
        opacity: 0;
        transform: translateY(-140px);
    }

    to{
        opacity: 1;
        transform: translateY(0);

    }

}

.modal-main{
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 300px;
    position: relative;
    background-color: #fff;
   
}
.modal-close{
    position: absolute;
    right: 0;
    color: #fff;
    padding: 12px 12px;
}
.modal-close:hover{
    color: #000;
    background-color: #ddd;
    cursor: pointer;
}
.modal-header{
    background-color: #009688;
    color: #fff;
    /* text-align: center;
    line-height: 130px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    height: 130px;
    
}
.modal-body{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    
    
}
.lable-shopping{
    display: block;
    margin-bottom: 15px;
}
.lable-send-to{
    display: block;
}
#modal-input1{
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 8px 8px;
    margin-bottom: 22px;
    
}
#modal-input2{
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 8px 8px;
    margin-bottom: 22px;
    
}
.lable-send-to{
    margin-bottom: 15px;
}
.modal-button{
    width: 100%;
    background-color: #009688;
    border: none;
    font-size: 15px;
    color: #fff;
    padding: 16px 16px;
}
.modal-button:hover{
    color: #000;
    background-color: #ddd;
    cursor: pointer;
}
.modal-footer .modal-help{
    text-align: right;
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
}
.underline-help:hover{
    color: #2196F3;
    font-size: 15px;
}



#footer {
    padding: 64px 16px;
    
}
#footer .social-list a {
    font-size: 24px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}
#footer .social-list a:hover{
    color: rgba(0, 0, 0, 0.3);
}
#footer .social-list{
    text-align: center;
    
    padding-bottom: 20px;
    
}
#footer a,
#footer p{
    text-align: center;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}
#footer p:hover{
    color: rgba(0, 0, 0, 0.3);
}

